/* @type tailwindcss */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'tailwindcss';

@theme {
  --font-sans: 'Gothic A1', ui-sans-serif, system-ui, sans-serif;
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-gothic: 'Gothic A1', sans-serif;

  --color-primary: #2e2e2e;
  --color-secondary: #e54134;
  --color-teal: #74d7c6;
  --color-link: #498fff;
  --color-yellow: #ffd540;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-dropdownFadeScale {
  animation: fadeScale 0.15s ease-out;
}

/* body {
  font-family: 'Gothic A1', sans-serif;
} */
